.perspective {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

.transform-180 {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.backface-hidden {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.transform-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}