.perspective {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.transform-180 {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.transform-3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}